.contact-rich {
  padding: 0 15px;
  margin: 20px 20px 20px 0;
  border: 1px solid #e1e1e1;
}
.con-left{
  display: block;
  width: 25%;
  /* margin:0 15px 0 0; */
}
.contact-rich h4 {
  text-transform: uppercase;
  color: #232323;
  font-weight: 600;
  padding-top: 10px;
}
.contact-rich .contact-block {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #7a7a7a;
}
.contact-rich .contact-block:last-child {
  padding-bottom: 10px;
  border-bottom: none;
}
.contact-rich .contact-block .contact-icon {
  display: block;
  width: 56px;
  font-size: 25px;
  color: #7a7a7a;
}
.contact-rich .contact-block .contact-text {
  color: #232323;
  font-size: 0.875rem;
  width: auto;
  overflow: hidden;
}
.contact-rich .contact-block .contact-text a {
  color: rgb(53, 118, 204);
}
.contact-rich .contact-block .contact-text a:hover {
  color: black;
}
.Contact-form {
  display: block;
  border: 1px solid #7a7a7a;
  margin: 20px 0 0px 0px;
  padding: 20px;
}
.Contact-form h3 {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.Contact-form table {
  width: 100%;
}
.Contact-form label {
  display: block;
  width: 100%;
  text-align: end;
  padding: 10px;
}
.Contact-form select {
  display: block;
  width: 70%;
  margin: 0;
  background-color: #f1f1f1;
  padding: 10px 15px;
  border: none;
}

.Contact-form .co-email{
    display: block;
    width: 70%;
    background-color: #f1f1f1;
    padding: 10px 15px;
    border: none;

}
.Contact-form .co-file{
display: inline-block;
width: 1;
}
/* .right{
    width: 75%;
    background-color: rgb(249, 251, 252);
    } */
    table{
        width: 100%;
        /* display: block; */
    }
    .cont-right-outer {
        display: 10px block;
        display: block;
        padding: 20px 30px;
        margin: 20px 0;
        border: 1px solid rgb(215, 213, 213);
    }
    .cont-right-outer .cont-right-inner {
        display: block;
    }
    .cont-right-outer .cont-right-inner h2{
        display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.cont-right-outer .cont-right-inner table tr .text{
    color: #6b6b6b;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 5px 10px 50px;
    text-align: end;
}
.cont-right-outer .cont-right-inner table tr:first-child{
    width: 20%;
}
.cont-right-outer .cont-right-inner table tr:last-child{
    width: 80%;
}
.cont-right-outer select {
	width: 60%;
	display: block;
	padding: 10px;
    margin: 0;
    background-color: #e1e1e1;
}
.cont-right-outer .email  {
    width: 60%;
	display: block;
	padding: 10px;
    border: none;
    background-color: #e1e1e1;
}
.cont-right-outer .textinput   {
    width: 100%;
	display: block;
	padding: 10px;
    background-color: #e1e1e1;
    
    border: none;}
    .cont-right-outer .file   {
        width: 30%;
        padding: 10px;
        /* display: block; */
    }
    .cont-right-outer .inputshow{
    background-color: #e1e1e1;
    width:auto;
    border: none;
    padding: 10px;
}
.cont-right-outer  a {
	text-decoration: none;
	color: white;
	background-color: #227ed1;
	padding: 7px 20px;
	display: inline-block;
	font-size: 15px;
	border-radius: 3px;
	transition: all 0.3s;
    text-align: end;
}
.cont-right-outer .text-end{
  
    display: block;
}
.custom-file-upload{
        display:inline-block;
        width: auto;
        text-align: start;
        background-color: #232323;
        color: white;
        padding:7.5px;
    
}
.optional {
display: inline-block;
width: auto;
color: #515050;
text-align: start;
padding-left: 10px;
}
@media (max-width: 767px) {
  .con-left{
    width: 100%;
  };
  .right{
    width: 100%;
  };
  .cont-right-outer select {
    width: 100%;
  }
  .cont-right-outer .email {
    width: 100%;
  }
  .cont-right-outer a {

    text-align: start;
  }
  
}
@media (max-width: 479px) {
  
  .cont-right-outer .cont-right-inner table tr .text {
  padding: 0;
  }
  .cont-right-outer {
  
    padding: 20px 10px;
  }
}
